/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  margin-bottom: 1.5em;

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
  }
}


#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

#boxes-box-social_networks {
  min-height: 58px;
  
  .boxes-box-content {
    text-align: center;
    a {
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      color: white;
      background: $color-purple;
      box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
      @include transition(all 0.1s linear);
      margin-top: 3px;
      margin-bottom: 0px;
      margin-right: 5px;
      
      &:hover, &:focus, &:active {
        box-shadow: 2px 5px 0px rgba(0, 0, 0, 0.5);
        margin-top: 0px;
        margin-bottom: 3px;
      }
      
      &.networks-facebook,
      &.networks-deviantart,
      &.networks-youtube {
        width: 50px;
        height: 50px;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
        text-indent: -10000px;
      }
      &.networks-facebook {
        background-image: url(../images/social/facebook.png);
        background-size: 50px 50px;
        
        @include retina {
          background-image: url(../images/social/facebook@2x.png);
        }
      }
      &.networks-deviantart {
        background-image: url(../images/social/deviantart.png);
        background-size: 50px 50px;
        
        @include retina {
          background-image: url(../images/social/deviantart@2x.png);
        }
      }
      &.networks-youtube {
        background-image: url(../images/social/youtube.png);
        background-size: 50px 50px;
        
        @include retina {
          background-image: url(../images/social/youtube@2x.png);
        }
      }
      &.networks-twitter {
        margin-top: 10px;
        height: 50px;
        background: $color-purple url(../images/social/twitter.bird.png) no-repeat center left;
        padding-left: 50px;
        position: relative;
        background-size: 50px 50px;
        overflow: hidden;
        
        @include retina {
          background-image: url(../images/social/twitter.bird@2x.png);
        }
        
        span {
        }
        
        html.lt-ie9 & {
          width: 668px;
          margin-right: -63px;
          
          span {
            display: inline-block;
            line-height: 50px;
          }
        }
        
        @media all and (min-width: $desktop-minimum) {
          margin-top: 3px;
          width: 670px;
          margin-right: -65px;
          text-align: left;
          
          span {
            overflow: hidden;
            white-space: nowrap;
            line-height: 50px;

            &.tweet-text {
              display: inline-block;
              max-width: 585px;
            }

          }
          
          &:hover, &:focus, &:active {
            box-shadow: 2px 5px 0px rgba(0, 0, 0, 0.5);
            margin-top: 0px;
            margin-bottom: 3px;
          }
          
          &:after {
            @include br-corner-elem;
            top: 50px;
            right: 0;
          }
        }
      }
    }
  }
}

#block-boxes-footer-text {
  font-size: 0.7em;
  line-height: 1.3em;
  @media all and (min-width: $tablet-half) {
    font-size: 0.8em;
  }
}
