/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  margin-bottom: 1.5em;

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
  }
}


#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

#boxes-box-social_networks {
  min-height: 58px;
  
  .boxes-box-content {
    text-align: center;

    #twitter-latest {
      color: white;
      background: $colour-theme-primary;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
      padding: 0.5em;

      @include no-margins(0.5em, 1em);
      overflow: hidden;

      ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: block;
          list-style: none;
          margin: 0;
          padding: 0;
        }
      }

      div.user {
        float: left;
        margin-right: 10px;
        text-align: center;
        padding: 0;

        @media all and (min-width: $desktop-minimum) {
          padding: 0;
        }

        span[data-scribe="element:name"] {
          display: none;
        }

        span[data-scribe="element:screen_name"] {
          display: block;
          font-family: $ultramag;
        }
      }

      p.tweet {
        margin: 0;
      }

      .timePosted {
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8em;
      }

      p.interact {
        display: none;
      }

      a {
        color: white;

        &.twitter_reply_icon,
        &.twitter_retweet_icon,
        &.twitter_fav_icon {
          display: none;
        }
      }
    }

    > p > a {
      @include box-sizing(border-box);

      position: relative;
      text-decoration: none;

      display: inline-block;
      vertical-align: top;
      text-align: left;

      color: white;
      background: $colour-theme-primary;

      box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
      @include transition(all 0.1s linear);

      margin-top: 3px;
      margin-bottom: 0px;
      margin-right: 5px;

      line-height: 1em;

      overflow: hidden;
      text-indent: -9999px;

      border: 3px solid $colour-theme-primary;
      width: 50px;
      height: 50px;
      
      &:hover, &:focus, &:active {
        box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.5);
        margin-top: 0px;
        margin-bottom: 3px;
      }

      &:before {
        @include icomoon;

        font-size: 44px;
        width: 50px;

        position: absolute;
        top: 0;
        left: 0;
      }

      &.networks-facebook {
        &:before {
          content: "\e603";
        }
      }
      &.networks-deviantart {
        &:before {
          content: "\e601";
        }
      }
      &.networks-youtube {
        &:before {
          content: "\e604";
        }
      }
      &.networks-tumblr {
        &:before {
          content: "\e600";
        }
      }
      &.networks-twitter {
        &:before {
          content: "\e602";
        }
      }
    }
  }
}

#block-boxes-footer-text {
  clear: both;
  font-size: 0.7em;
  line-height: 1.3em;
  @media all and (min-width: $tablet-half) {
    font-size: 0.8em;
  }
}

/**
 * Sponsors
 */

.view-sponsor-list {
  text-align: center;

  .view-header {
    p {
      margin-bottom: 0;
    }
  }

  .view-content div {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px 4px 2px;

    a {
      display: block;
    }
    img {
      display: inline-block;
      vertical-align: middle;
    }

    a, img {
      line-height: 80px;
      max-height: 80px;
      @media all and (min-width: $desktop-minimum) {
        line-height: 100px;
        max-height: 100px;
      }
      width: auto;
    }

    &.sticky-True {
      a.sticky-True, img {
        line-height: 100px;
        max-height: 100px;
        @media all and (min-width: $desktop-minimum) {
          line-height: 150px;
          max-height: 150px;
        }
      }
    }
  }
}
