/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}

.node-home-page {
  .field-name-wrapped-hero {
    a.hero-wrapped {
      display: block;
      position: relative;
      .hero-wrapped-image {
        display: block;
      }
      .hero-wrapped-content {
        display: block;
        background: rgba(0,0,0,0.7);
        color: white;
        @media all and (min-width: $desktop-minimum) {
          position: absolute;
          top: 280px;
          left: 0px;
          width: 360px;
        }
      }
    }
  }
  .field-name-feature-wrapper {
    a.feature-wrapped {
      .feature-wrapped-image {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 60px;
        @media all and (min-width: $desktop-minimum) {
          width: 120px;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 60px;
          @media all and (min-width: $desktop-minimum) {
            width: 120px;
          }
          &.feature-wrapped-image-inactive {
            visibility: visible;
          }
          &.feature-wrapped-image-active {
            visibility: hidden;
          }
        }
      }
      
      .feature-wrapped-text {
        margin-left: 70px;
        @media all and (min-width: $desktop-minimum) {
          margin-left: 130px;
        }
        display: inline-block;
        vertical-align: top;
        h2, p {
          margin: 0;
        }
      }
      
      display: block;
      overflow: hidden;
      
      &:hover, &:focus, &:active {
        .feature-wrapped-image {
          img {
            &.feature-wrapped-image-inactive {
              visibility: hidden;
            }
            &.feature-wrapped-image-active {
              visibility: visible;
            }
          }
        }
      }
    }
  }
  .field-name-field-further-highlights {
    width: 33%;
    display: inline-block;
    @media all and (min-width: $desktop-minimum) {
    }
  }
}

