/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";
@import "stickytable";


.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }
  
  .field-name-node-link,
  .field-name-author {
    @include more-link;
  }
  
  .field-name-body {
    ul.dual-column {
      margin: 0;
      padding: 0;
      list-style: none;
      
      li {
        list-style: none;
        padding: 0;
        display: inline-block;
        vertical-align: top;
        min-width: 150px;
        width: 50%;
        margin: 0;
        @include box-sizing(border-box);
      }
    }
    
    ul.contacts-list {
      li {
        div {
          text-align: center;
          padding: 5px;
          margin: 5px;
          @include border-radius(1em);
          background-color: $color-lightgrey;
          min-height: 4.5em;
          
          strong, a {
            display: block;
          }
        }
      }
    }
  }
  
  .prefaced-node-sidebar {
    -ms-word-break: break-all;
    word-break: break-all;
    
    word-break: break-word;
    
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    
    .field-name-field-sidebar-body {
      .view-gallery {
        @media all and (min-width: $desktop-minimum) {
          min-width: 210px;
          margin-right: -10px;
        }
      }
    }
    
    .field-name-field-sidebar-image, .field-name-field-photo {
      display: inline-block;
      
      a {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 10px;
        text-align: center;
        width: 100px;
        height: 100px;
        
        img {
          vertical-align: middle;
          @include box-shadow(rgba(0, 0, 0, 0.5) 3px 3px 0px);
        }
      }
    }
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}

.node-home-page {
  .node-title {
    display: none;
  }
  .field-collection-container {
    border: 0px none;
  }
  .jquery-countdown {
    font-family: $ultramag;
    background: $colour-title-secondary;
    color: white;
    margin: 0;
    padding: 0.5em 0 0.25em 0;
    border-top: 1px solid $colour-title-secondary;
    border-bottom: 1px solid $colour-title-secondary;
    border-left: 0 none;
    border-right: 0 none;

    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);

    @include no-margins(0em, 1em, 0em, 0em);

    .countdown_section {
      text-transform: uppercase;
      font-weight: normal;
      line-height: 1em;

      .countdown_amount {
        font-size: 1.5em;
        line-height: 1em;
        @media all and (min-width: $tablet-half) {
          font-size: 2.25em;
        }
        @media all and (min-width: $desktop-minimum) {
          font-size: 3em;
        }
      }
    }

    .countdown_descr {
      padding-top: 0.25em;
      font-size: 1em;
      font-weight: normal;
      text-transform: uppercase; 
    }
  }

  iframe.twitter-timeline {
    margin: 1em auto;
    display: block;
  }

  .flexslider {
    margin: 0;
    padding: 0;
    border: 0px none;
    border-radius: 0;
    box-shadow: none;

    ul {
      display: block;
      margin: 0;
      padding: 0;

      li {
        display: block;
        margin: 0;
        padding: 0;
      }
    }

    .flex-control-nav {
      max-height: 133px;
      margin: 0;
      text-align: center;
      bottom: -5px;

      li {
        float: none;  
      }
    }

    .flex-direction-nav {
      .flex-prev, .flex-next {
        top: 20%;
        padding-top: 20px;
        height: 80px;
        width: 100px;
        text-align: center;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.5);
        line-height: 2em;

        &:before {
          display: block;
        }

        &:active {
          text-decoration: none;
        }
      }
    }
  }

  .field-name-field-hero {
    @include no-margins;

    .field-collection-view {
      margin: 0;
      padding-top: 0;
    }
    
    .hero-wrapped {
      display: block;
      position: relative;
      text-decoration: none;
      color: black;

      .hero-wrapped-image {
        display: block;
        img {
          @media all and (min-width: $desktop-minimum) {
            width: 100%;
          }
        }
        .hero-image-credits {
          display: block;
          text-align: right;
          font-size: 0.5em;
          padding: 0.25em 1em;
        }
      }

      .field-name-field-hero-video {
        video {
          width: 100% !important;
          height: 100% !important;
        }

        .mejs-container {
          width: 100% !important;
          height: 100% !important;
          min-height: 180px;

          @media all and (min-width: $tablet-minimum) {
            min-height: 270px;
          }
          @media all and (min-width: $tablet-half) {
            min-height: 405px;
          }

          @media all and (min-width: $desktop-minimum) {
            width: 948px !important;
            height: 533px !important;
            min-height: 533px;
          }
        }
      }

      .hero-wrapped-content {
        display: block;
        color: black;
        padding: 20px 10px;
        
        @media all and (min-width: $tablet-half) {
          position: absolute;
          bottom: 10%;
          left: 0px;
          width: 290px;
          padding: 20px 10px 20px 60px;
          color: white;
          background: rgba(0,0,0,0.7);
        }
        
        html.lt-ie9 & {
          font-size: 80%;
          background: url(../images/ie8-hero-wrapped-content.png) repeat top left;
        }
        
        p {
          margin: 0.5em 0;
          font-size: 90%;
          
          &:last-child {
            margin-bottom: 0;
          }
        }
        
        h2 {
          margin: 0;
          text-transform: uppercase;
          color: $colour-title-primary;
          line-height: 1em;
        }
        
        .call-to-action {
          display: inline-block;
          background: $colour-title-primary;
          color: white;
          margin: 3px 0 0 0;
          @include box-shadow(3px 3px 0px $colour-title-primary-bg);
          text-transform: uppercase;
          @include border-radius(1em);
          padding: 0.25em 1em;
          @include transition(all 0.1s linear);
        }
        
        .call-to-action-container {
          min-height: 35px;
        }
      }
      
      &:hover, &:focus, &:active {
        .hero-wrapped-content .call-to-action {
          margin: 0 0 3px 0;
          @include box-shadow(3px 6px 0px $colour-title-primary-bg);
        }
      }

      &.hero-video {
        @media all and (min-width: $tablet-half) {
          .hero-wrapped-content {
            display: none;
          }
        }
      }
    }
  }
}

.node-vendor {
  position: relative;
  min-height: 80px;

  margin: 1.5em 0;

  .field-name-field-image {
    margin: 0 0 1em 0;
    @media all and (min-width: $tablet-minimum) {
      float: left;
      margin: 0 1em 1em 0;
    }

    img {
      margin: 0 auto;
      max-width: 270px;
    }
  }

  .field-name-field-website-url {
    overflow: hidden;

    margin: 1em 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 0.5em 0 0;
      padding: 0;
      list-style: none;      
    }

    a {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 16px 16px;
      min-height: 13px;
      background-image: url(../images/linkicons/hm@1x.png);
      overflow: hidden;
      text-indent: -1000px;
    }

    a.svlink-twitter {
      background-image: url(../images/linkicons/tw@1x.png);
    }
    a.svlink-facebook {
      background-image: url(../images/linkicons/fb@1x.png);
    }
    a.svlink-tumblr {
      background-image: url(../images/linkicons/tm@1x.png);
    }
    a.svlink-deviantart {
      background-image: url(../images/linkicons/da@1x.png);
    }
    a.svlink-etsy {
      background-image: url(../images/linkicons/et@1x.png);
    }
    
    @include retina {
      a {
        background-image: url(../images/linkicons/hm@2x.png);
      }
      a.svlink-twitter {
        background-image: url(../images/linkicons/tw@2x.png);
      }
      a.svlink-facebook {
        background-image: url(../images/linkicons/fb@2x.png);
      }
      a.svlink-deviantart {
        background-image: url(../images/linkicons/da@2x.png);
      }
      a.svlink-etsy {
        background-image: url(../images/linkicons/et@2x.png);
      }
    }
  }
}

.node-article {
  clear: both;
  position: relative;
  overflow: hidden;
  
  .article-left {
    text-align: center;
  }
  .article-right {
  }
  
  @media all and (min-width: $tablet-half) {
    .article-left {
      position: relative;
      float: left;
      top: 0;
      left: 100px;
      margin-left: -100px;
      width: 100px;
    }
    .article-right {
      margin-left: 110px;
    }
  }
  
  .field-name-title {
    h2 {
      margin: 0;
    }
  }
  
  .field-name-post-date {
    font-weight: bold;
  }
  
  .field-name-ds-user-picture {
    img {
      @include box-shadow(rgba(0, 0, 0, 0.5) 3px 3px 0px);
    }
  }
  
  .field-name-field-image {
    margin: 0 0 10px 0;
    max-width: 100px;
    
    img {
      @include box-shadow(rgba(0, 0, 0, 0.5) 3px 3px 0px);
    }
  }
  
  .field-name-body {
    *:first-child {
      margin-top: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
  
  .field-name-field-tags {
    .label-above,
    .label-inline {
      font-weight: bold;
    }
    .label-inline {
      display: inline-block;
      margin-right: 5px;
    }
    a {
      margin-right: 0.5em;
    }
  }
}

.node-guest {
  .field-name-field-homepage,
  .field-name-field-twitter,
  .field-name-field-facebook {
    a {
      padding: 3px 0 0 20px;
      background-repeat: no-repeat;
      background-position: center left;
      background-size: 16px 16px;
      min-height: 13px;
    }
  }
  
  .field-name-field-homepage a {
    background-image: url(../images/linkicons/hm@1x.png);
  }
  .field-name-field-twitter a {
    background-image: url(../images/linkicons/tw@1x.png);
  }
  .field-name-field-facebook a {
    background-image: url(../images/linkicons/fb@1x.png);
  }
  
  @include retina {
    .field-name-field-homepage a {
      background-image: url(../images/linkicons/hm@2x.png);
    }
    .field-name-field-twitter a {
      background-image: url(../images/linkicons/tw@2x.png);
    }
    .field-name-field-facebook a {
      background-image: url(../images/linkicons/fb@2x.png);
    }
  }
}

/* SPECIAL FORMATTING! */

body.page-title-sponsors {
  
  .node .field-name-body {
    h3 {
      clear: both;
    }

    p {
      margin-top: 0;
    }

    .media-image {
      display: block;
      margin: 0px auto;

      @media all and (min-width: $tablet-half) {
        float: left;
        margin: 0 1em 1em 0;
        width: 250px;
      }
    }
  }

}