/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}

.node-home-page {
  .node-title {
    display: none;
  }
  .field-collection-container {
    border: 0px none;
  }
  .field-name-field-hero {
    @media all and (min-width: $desktop-minimum) {
      margin: -1.5em -5px 0 -5px;
    }
    .field-collection-view {
      margin: 0;
    }
    a.hero-wrapped {
      display: block;
      position: relative;
      text-decoration: none;
      color: black;
      .hero-wrapped-image {
        display: block;
        .hero-image-credits {
          display: block;
          text-align: right;
          font-size: 0.6em;
          padding: 0 1em;
        }
      }
      .hero-wrapped-content {
        display: block;
        color: black;
        padding: 20px 10px;
        @media all and (min-width: $tablet-half) {
          position: absolute;
          bottom: 25%;
          left: 0px;
          width: 290px;
          padding: 20px 10px 20px 60px;
          color: white;
          background: rgba(0,0,0,0.7);
        }
        p {
          margin: 0.5em 0;
          
          &:last-child {
            margin-bottom: 0;
          }
        }
        h2 {
          margin: 0;
          text-transform: uppercase;
          color: $color-red;
          line-height: 1em;
        }
        .call-to-action {
          display: inline-block;
          background: $color-red;
          color: white;
          margin: 3px 0 0 0;
          @include box-shadow(3px 3px 0px $color-red-bg);
          text-transform: uppercase;
          @include border-radius(1em);
          padding: 0.25em 1em;
          @include transition(all 0.1s linear);
        }
      }
      
      &:hover, &:focus, &:active {
        .hero-wrapped-content .call-to-action {
          margin: 0 0 3px 0;
          @include box-shadow(3px 6px 0px $color-red-bg);
        }
      }
    }
  }
  .field-name-feature-wrapper {
    font-size: 0.8em;
    @media all and (min-width: $tablet-half) {
      font-size: 1em;
    }
    a.feature-wrapped {
      position: relative;
      min-height: 79px;
      color: black;
      .feature-wrapped-image {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 60px;
        height: 40px;
        @media all and (min-width: $desktop-minimum) {
          width: 120px;
          height: 79px;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 60px;
          @media all and (min-width: $desktop-minimum) {
            width: 120px;
          }
          &.feature-wrapped-image-inactive {
            visibility: visible;
          }
          &.feature-wrapped-image-active {
            visibility: hidden;
          }
        }
      }
      
      .feature-wrapped-text {
        margin-left: 70px;
        @media all and (min-width: $desktop-minimum) {
          margin-left: 130px;
        }
        display: inline-block;
        vertical-align: top;
        p {
          margin: 0;
        }
        h2 {
          line-height: 1em;
          margin: 0.25em 0 0 0;
          color: $color-menu-hov;
        }
      }
      
      display: block;
      overflow: hidden;
      
      &:hover, &:focus, &:active {
        .feature-wrapped-image {
          img {
            &.feature-wrapped-image-inactive {
              visibility: hidden;
            }
            &.feature-wrapped-image-active {
              visibility: visible;
            }
          }
        }
      }
    }
  }
  .field-name-field-further-highlights {
    display: block;
    font-size: 0.8em;
    @media all and (min-width: $tablet-half) {
      display: inline-block;
      vertical-align: top;
      width: 30%;
    }
    @media all and (min-width: $desktop-minimum) {
      display: inline-block;
      vertical-align: top;
      width: 33%;
      font-size: 1em;
    }
    .field-collection-view {
      margin: 0 10px;
      border: 0px none;
    }
    .field-name-field-further-highlights-title {
      margin: 0;
      text-transform: uppercase;
      color: #e02751;
    }
    .field-name-field-further-highlights-link {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        padding: 0;
        a {
          color: $color-menu-hov;
          text-decoration: none;
        }
      }
    }
  }
}

.node-vendor {
  position: relative;
  min-height: 80px;
  .vendor-left {
    text-align: center;
  }
  .vendor-right {
    h2 {
      margin: 0;
    }
    .field-name-body {
      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  @media all and (min-width: $tablet-half) {
    .vendor-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
    }
    .vendor-right {
      margin-left: 210px;
    }
  }
}

.node-article {
  clear: both;
  .field-name-title {
    h2 {
      margin: 0;
    }
  }
  .field-name-post-date {
    font-weight: bold;
  }
  .field-name-field-image {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 80px;
    @media all and (min-width: $tablet-half) {
      max-width: 200px;
    }
  }
  .field-name-body {
    *:first-child {
      margin-top: 0;
    }
  }
  .field-name-field-tags {
    .label-above {
      font-weight: bold;
    }
    a {
      margin-right: 0.5em;
    }
  }
}

