.map-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111; // @TODO
	color: #fff;
	z-index: 9998;
}

.map-container .map-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: #7D53A8;
	text-align: center;
}

.map-container .map-nav a {
	line-height: 40px;
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	padding: 0 2px;
	margin-right: 2px;
	font-size: 0.8em;
}

.map-container .map-nav a:hover,
.map-container .map-nav a:focus,
.map-container .map-nav a:active {
	background-color: #282828;
}

.map-container .map-nav a:before {
	content: " ";
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 4px;
}

.map-container .map-nav a.map-container-close:before {
	background: url(../images/popup-close.png) no-repeat center center;
	background-size: 24px 24px;
}

.map-container .map-nav a.map-container-zoomin:before {
	background: url(../images/popup-zoomin.png) no-repeat center center;
	background-size: 24px 24px;
}

.map-container .map-nav a.map-container-zoomout:before {
	background: url(../images/popup-zoomout.png) no-repeat center center;
	background-size: 24px 24px;
}

.map-container .map-inner {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 40px;
	width: 100%;
	height: 100%;

	backface-visibility: hidden;
    transform: translateZ(0) scale(1.0, 1.0);
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.map-container .map-inner header,
.map-container .map-inner .field-name-body {
	display: none;
}

.map-container .map-inner img {
	max-width: 3000px;
}

.map-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/ajax-loader.gif) #111 no-repeat center center;
	color: #fff;
	z-index: 9999;
	opacity: 0.75;
}

/*

.field-name-field-map-image {
	max-width: 100%;
	overflow: hidden;
	max-height: 240px;
}

.field-name-field-map-image img {
	width: 100%;
	height: 100%;
}

@media all and (min-height: 600px) {
	.field-name-field-map-image {
		max-height: 400px;
	}
}

@media all and (min-height: 900px) {
	.field-name-field-map-image {
		max-height: 600px;
	}
}

@media all and (min-height: 1200px) {
	.field-name-field-map-image {
		max-height: 900px;
	}
}

*/
