/* line 47, ../sass/layout.scss */
section.schedule {
  display: block;
  overflow-x: auto;
  min-height: 500px;
  -webkit-overflow-scrolling: touch;
}
/* line 53, ../sass/layout.scss */
section.schedule .schedule-column {
  display: block;
  border: 1px solid black;
}
/* line 57, ../sass/layout.scss */
section.schedule .schedule-column header {
  display: table-cell;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
/* line 64, ../sass/layout.scss */
section.schedule .schedule-column .schedule-column-items {
  display: table-cell;
  position: relative;
  white-space: normal;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-18 {
  position: absolute;
  left: 2700px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-18-half {
  position: absolute;
  left: 2850px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-19 {
  position: absolute;
  left: 3000px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-19-half {
  position: absolute;
  left: 3150px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-20 {
  position: absolute;
  left: 3300px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-20-half {
  position: absolute;
  left: 3450px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-21 {
  position: absolute;
  left: 3600px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-21-half {
  position: absolute;
  left: 3750px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-22 {
  position: absolute;
  left: 3900px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-22-half {
  position: absolute;
  left: 4050px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-23 {
  position: absolute;
  left: 4200px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-23-half {
  position: absolute;
  left: 4350px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-24 {
  position: absolute;
  left: 4500px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-24-half {
  position: absolute;
  left: 4650px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-25 {
  position: absolute;
  left: 4800px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-25-half {
  position: absolute;
  left: 4950px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-26 {
  position: absolute;
  left: 5100px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-26-half {
  position: absolute;
  left: 5250px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-27 {
  position: absolute;
  left: 5400px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-27-half {
  position: absolute;
  left: 5550px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-28 {
  position: absolute;
  left: 5700px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-28-half {
  position: absolute;
  left: 5850px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-29 {
  position: absolute;
  left: 6000px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-29-half {
  position: absolute;
  left: 6150px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-30 {
  position: absolute;
  left: 6300px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-30-half {
  position: absolute;
  left: 6450px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-31 {
  position: absolute;
  left: 6600px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-31-half {
  position: absolute;
  left: 6750px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-32 {
  position: absolute;
  left: 6900px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-32-half {
  position: absolute;
  left: 7050px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-33 {
  position: absolute;
  left: 7200px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-33-half {
  position: absolute;
  left: 7350px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-34 {
  position: absolute;
  left: 7500px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-34-half {
  position: absolute;
  left: 7650px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-35 {
  position: absolute;
  left: 7800px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-35-half {
  position: absolute;
  left: 7950px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-36 {
  position: absolute;
  left: 8100px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-36-half {
  position: absolute;
  left: 8250px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-37 {
  position: absolute;
  left: 8400px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-37-half {
  position: absolute;
  left: 8550px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-38 {
  position: absolute;
  left: 8700px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-38-half {
  position: absolute;
  left: 8850px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-39 {
  position: absolute;
  left: 9000px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-39-half {
  position: absolute;
  left: 9150px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-40 {
  position: absolute;
  left: 9300px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-40-half {
  position: absolute;
  left: 9450px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-41 {
  position: absolute;
  left: 9600px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-41-half {
  position: absolute;
  left: 9750px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-42 {
  position: absolute;
  left: 9900px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-42-half {
  position: absolute;
  left: 10050px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-43 {
  position: absolute;
  left: 10200px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-43-half {
  position: absolute;
  left: 10350px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-44 {
  position: absolute;
  left: 10500px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-44-half {
  position: absolute;
  left: 10650px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-45 {
  position: absolute;
  left: 10800px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-45-half {
  position: absolute;
  left: 10950px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-46 {
  position: absolute;
  left: 11100px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-46-half {
  position: absolute;
  left: 11250px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-47 {
  position: absolute;
  left: 11400px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-47-half {
  position: absolute;
  left: 11550px;
}
/* line 16, ../sass/layout.scss */
section.schedule .item-hourstamp-48 {
  position: absolute;
  left: 11700px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-0 {
  overflow: hidden;
  width: 0px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-0 .dayview a {
  width: 0px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-0-1q {
  overflow: hidden;
  width: 75px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-0-1q .dayview a {
  width: 75px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-0-half {
  overflow: hidden;
  width: 150px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-0-half .dayview a {
  width: 150px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-0-3q {
  overflow: hidden;
  width: 225px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-0-3q .dayview a {
  width: 225px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-1 {
  overflow: hidden;
  width: 300px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-1 .dayview a {
  width: 300px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-1-1q {
  overflow: hidden;
  width: 375px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-1-1q .dayview a {
  width: 375px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-1-half {
  overflow: hidden;
  width: 450px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-1-half .dayview a {
  width: 450px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-1-3q {
  overflow: hidden;
  width: 525px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-1-3q .dayview a {
  width: 525px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-2 {
  overflow: hidden;
  width: 600px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-2 .dayview a {
  width: 600px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-2-1q {
  overflow: hidden;
  width: 675px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-2-1q .dayview a {
  width: 675px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-2-half {
  overflow: hidden;
  width: 750px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-2-half .dayview a {
  width: 750px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-2-3q {
  overflow: hidden;
  width: 825px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-2-3q .dayview a {
  width: 825px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-3 {
  overflow: hidden;
  width: 900px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-3 .dayview a {
  width: 900px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-3-1q {
  overflow: hidden;
  width: 975px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-3-1q .dayview a {
  width: 975px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-3-half {
  overflow: hidden;
  width: 1050px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-3-half .dayview a {
  width: 1050px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-3-3q {
  overflow: hidden;
  width: 1125px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-3-3q .dayview a {
  width: 1125px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-4 {
  overflow: hidden;
  width: 1200px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-4 .dayview a {
  width: 1200px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-4-1q {
  overflow: hidden;
  width: 1275px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-4-1q .dayview a {
  width: 1275px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-4-half {
  overflow: hidden;
  width: 1350px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-4-half .dayview a {
  width: 1350px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-4-3q {
  overflow: hidden;
  width: 1425px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-4-3q .dayview a {
  width: 1425px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-5 {
  overflow: hidden;
  width: 1500px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-5 .dayview a {
  width: 1500px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-5-1q {
  overflow: hidden;
  width: 1575px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-5-1q .dayview a {
  width: 1575px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-5-half {
  overflow: hidden;
  width: 1650px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-5-half .dayview a {
  width: 1650px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-5-3q {
  overflow: hidden;
  width: 1725px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-5-3q .dayview a {
  width: 1725px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-6 {
  overflow: hidden;
  width: 1800px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-6 .dayview a {
  width: 1800px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-6-1q {
  overflow: hidden;
  width: 1875px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-6-1q .dayview a {
  width: 1875px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-6-half {
  overflow: hidden;
  width: 1950px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-6-half .dayview a {
  width: 1950px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-6-3q {
  overflow: hidden;
  width: 2025px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-6-3q .dayview a {
  width: 2025px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-7 {
  overflow: hidden;
  width: 2100px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-7 .dayview a {
  width: 2100px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-7-1q {
  overflow: hidden;
  width: 2175px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-7-1q .dayview a {
  width: 2175px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-7-half {
  overflow: hidden;
  width: 2250px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-7-half .dayview a {
  width: 2250px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-7-3q {
  overflow: hidden;
  width: 2325px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-7-3q .dayview a {
  width: 2325px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-8 {
  overflow: hidden;
  width: 2400px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-8 .dayview a {
  width: 2400px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-8-1q {
  overflow: hidden;
  width: 2475px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-8-1q .dayview a {
  width: 2475px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-8-half {
  overflow: hidden;
  width: 2550px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-8-half .dayview a {
  width: 2550px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-8-3q {
  overflow: hidden;
  width: 2625px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-8-3q .dayview a {
  width: 2625px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-9 {
  overflow: hidden;
  width: 2700px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-9 .dayview a {
  width: 2700px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-9-1q {
  overflow: hidden;
  width: 2775px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-9-1q .dayview a {
  width: 2775px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-9-half {
  overflow: hidden;
  width: 2850px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-9-half .dayview a {
  width: 2850px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-9-3q {
  overflow: hidden;
  width: 2925px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-9-3q .dayview a {
  width: 2925px;
}
/* line 34, ../sass/layout.scss */
section.schedule .item-length-10 {
  overflow: hidden;
  width: 3000px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 38, ../sass/layout.scss */
section.schedule .item-length-10 .dayview a {
  width: 3000px;
}

/* line 82, ../sass/layout.scss */
.view-schedule.helpful-hint {
  background-image: url(../images/star-hints.png);
  background-repeat: no-repeat;
  background-position: 50% 130px;
}

/* line 88, ../sass/layout.scss */
a.schedule-fave-link {
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  background: url(../images/star-blank.png) no-repeat center center;
  background-size: 24px 24px;
  overflow: hidden;
  text-indent: -999px;
}
/* line 101, ../sass/layout.scss */
a.schedule-fave-link.active {
  background: url(../images/star-filled.png) no-repeat center center;
  background-size: 24px 24px;
}
