/* line 35, ../sass/layout.scss */
section.schedule {
  display: block;
  overflow-x: auto;
  min-height: 500px;
  white-space: nowrap;
}
/* line 41, ../sass/layout.scss */
section.schedule .schedule-column {
  display: inline-block;
  vertical-align: top;
  border: 1px solid black;
  min-height: 900px;
  min-width: 240px;
}
/* line 48, ../sass/layout.scss */
section.schedule .schedule-column header {
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
/* line 55, ../sass/layout.scss */
section.schedule .schedule-column .schedule-column-items {
  display: block;
  position: relative;
  white-space: normal;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-9 {
  position: absolute;
  top: 0px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-9-half {
  position: absolute;
  top: 45px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-10 {
  position: absolute;
  top: 90px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-10-half {
  position: absolute;
  top: 135px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-11 {
  position: absolute;
  top: 180px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-11-half {
  position: absolute;
  top: 225px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-12 {
  position: absolute;
  top: 270px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-12-half {
  position: absolute;
  top: 315px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-13 {
  position: absolute;
  top: 360px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-13-half {
  position: absolute;
  top: 405px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-14 {
  position: absolute;
  top: 450px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-14-half {
  position: absolute;
  top: 495px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-15 {
  position: absolute;
  top: 540px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-15-half {
  position: absolute;
  top: 585px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-16 {
  position: absolute;
  top: 630px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-16-half {
  position: absolute;
  top: 675px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-17 {
  position: absolute;
  top: 720px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-17-half {
  position: absolute;
  top: 765px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-18 {
  position: absolute;
  top: 810px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-18-half {
  position: absolute;
  top: 855px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-19 {
  position: absolute;
  top: 900px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-19-half {
  position: absolute;
  top: 945px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-20 {
  position: absolute;
  top: 990px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-20-half {
  position: absolute;
  top: 1035px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-21 {
  position: absolute;
  top: 1080px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-21-half {
  position: absolute;
  top: 1125px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-22 {
  position: absolute;
  top: 1170px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-22-half {
  position: absolute;
  top: 1215px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-23 {
  position: absolute;
  top: 1260px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-23-half {
  position: absolute;
  top: 1305px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-24 {
  position: absolute;
  top: 1350px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-0 {
  overflow: hidden;
  height: 0px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-0 .dayview a {
  height: 0px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-0-half {
  overflow: hidden;
  height: 45px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-0-half .dayview a {
  height: 45px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-1 {
  overflow: hidden;
  height: 90px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-1 .dayview a {
  height: 90px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-1-half {
  overflow: hidden;
  height: 135px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-1-half .dayview a {
  height: 135px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-2 {
  overflow: hidden;
  height: 180px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-2 .dayview a {
  height: 180px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-2-half {
  overflow: hidden;
  height: 225px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-2-half .dayview a {
  height: 225px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-3 {
  overflow: hidden;
  height: 270px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-3 .dayview a {
  height: 270px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-3-half {
  overflow: hidden;
  height: 315px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-3-half .dayview a {
  height: 315px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-4 {
  overflow: hidden;
  height: 360px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-4 .dayview a {
  height: 360px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-4-half {
  overflow: hidden;
  height: 405px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-4-half .dayview a {
  height: 405px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-5 {
  overflow: hidden;
  height: 450px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-5 .dayview a {
  height: 450px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-5-half {
  overflow: hidden;
  height: 495px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-5-half .dayview a {
  height: 495px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-6 {
  overflow: hidden;
  height: 540px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-6 .dayview a {
  height: 540px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-6-half {
  overflow: hidden;
  height: 585px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-6-half .dayview a {
  height: 585px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-7 {
  overflow: hidden;
  height: 630px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-7 .dayview a {
  height: 630px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-7-half {
  overflow: hidden;
  height: 675px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-7-half .dayview a {
  height: 675px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-8 {
  overflow: hidden;
  height: 720px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-8 .dayview a {
  height: 720px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-8-half {
  overflow: hidden;
  height: 765px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-8-half .dayview a {
  height: 765px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-9 {
  overflow: hidden;
  height: 810px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-9 .dayview a {
  height: 810px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-9-half {
  overflow: hidden;
  height: 855px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-9-half .dayview a {
  height: 855px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-10 {
  overflow: hidden;
  height: 900px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-10 .dayview a {
  height: 900px;
}

/* line 73, ../sass/layout.scss */
.view-schedule.helpful-hint {
  background-image: url(../images/star-hints.png);
  background-repeat: no-repeat;
  background-position: 50% 80px;
}

/* line 79, ../sass/layout.scss */
a.schedule-fave-link {
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
  height: 24px;
  background: url(../images/star-blank.png) no-repeat center center;
  background-size: 24px 24px;
  overflow: hidden;
  text-indent: -999px;
}
/* line 92, ../sass/layout.scss */
a.schedule-fave-link.active {
  background: url(../images/star-filled.png) no-repeat center center;
  background-size: 24px 24px;
}
