/* line 35, ../sass/layout.scss */
section.schedule {
  display: block;
  overflow-x: auto;
  min-height: 500px;
  -webkit-overflow-scrolling: touch;
}
/* line 41, ../sass/layout.scss */
section.schedule .schedule-column {
  display: block;
  border: 1px solid black;
}
/* line 45, ../sass/layout.scss */
section.schedule .schedule-column header {
  display: table-cell;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
/* line 52, ../sass/layout.scss */
section.schedule .schedule-column .schedule-column-items {
  display: table-cell;
  position: relative;
  white-space: normal;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-9 {
  position: absolute;
  left: 0px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-9-half {
  position: absolute;
  left: 150px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-10 {
  position: absolute;
  left: 300px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-10-half {
  position: absolute;
  left: 450px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-11 {
  position: absolute;
  left: 600px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-11-half {
  position: absolute;
  left: 750px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-12 {
  position: absolute;
  left: 900px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-12-half {
  position: absolute;
  left: 1050px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-13 {
  position: absolute;
  left: 1200px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-13-half {
  position: absolute;
  left: 1350px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-14 {
  position: absolute;
  left: 1500px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-14-half {
  position: absolute;
  left: 1650px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-15 {
  position: absolute;
  left: 1800px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-15-half {
  position: absolute;
  left: 1950px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-16 {
  position: absolute;
  left: 2100px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-16-half {
  position: absolute;
  left: 2250px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-17 {
  position: absolute;
  left: 2400px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-17-half {
  position: absolute;
  left: 2550px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-18 {
  position: absolute;
  left: 2700px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-18-half {
  position: absolute;
  left: 2850px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-19 {
  position: absolute;
  left: 3000px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-19-half {
  position: absolute;
  left: 3150px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-20 {
  position: absolute;
  left: 3300px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-20-half {
  position: absolute;
  left: 3450px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-21 {
  position: absolute;
  left: 3600px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-21-half {
  position: absolute;
  left: 3750px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-22 {
  position: absolute;
  left: 3900px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-22-half {
  position: absolute;
  left: 4050px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-23 {
  position: absolute;
  left: 4200px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-23-half {
  position: absolute;
  left: 4350px;
}
/* line 10, ../sass/layout.scss */
section.schedule .item-hourstamp-24 {
  position: absolute;
  left: 4500px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-0 {
  overflow: hidden;
  width: 0px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-0 .dayview a {
  width: 0px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-0-half {
  overflow: hidden;
  width: 150px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-0-half .dayview a {
  width: 150px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-1 {
  overflow: hidden;
  width: 300px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-1 .dayview a {
  width: 300px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-1-half {
  overflow: hidden;
  width: 450px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-1-half .dayview a {
  width: 450px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-2 {
  overflow: hidden;
  width: 600px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-2 .dayview a {
  width: 600px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-2-half {
  overflow: hidden;
  width: 750px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-2-half .dayview a {
  width: 750px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-3 {
  overflow: hidden;
  width: 900px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-3 .dayview a {
  width: 900px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-3-half {
  overflow: hidden;
  width: 1050px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-3-half .dayview a {
  width: 1050px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-4 {
  overflow: hidden;
  width: 1200px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-4 .dayview a {
  width: 1200px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-4-half {
  overflow: hidden;
  width: 1350px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-4-half .dayview a {
  width: 1350px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-5 {
  overflow: hidden;
  width: 1500px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-5 .dayview a {
  width: 1500px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-5-half {
  overflow: hidden;
  width: 1650px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-5-half .dayview a {
  width: 1650px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-6 {
  overflow: hidden;
  width: 1800px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-6 .dayview a {
  width: 1800px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-6-half {
  overflow: hidden;
  width: 1950px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-6-half .dayview a {
  width: 1950px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-7 {
  overflow: hidden;
  width: 2100px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-7 .dayview a {
  width: 2100px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-7-half {
  overflow: hidden;
  width: 2250px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-7-half .dayview a {
  width: 2250px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-8 {
  overflow: hidden;
  width: 2400px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-8 .dayview a {
  width: 2400px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-8-half {
  overflow: hidden;
  width: 2550px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-8-half .dayview a {
  width: 2550px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-9 {
  overflow: hidden;
  width: 2700px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-9 .dayview a {
  width: 2700px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-9-half {
  overflow: hidden;
  width: 2850px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-9-half .dayview a {
  width: 2850px;
}
/* line 22, ../sass/layout.scss */
section.schedule .item-length-10 {
  overflow: hidden;
  width: 3000px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
/* line 26, ../sass/layout.scss */
section.schedule .item-length-10 .dayview a {
  width: 3000px;
}

/* line 70, ../sass/layout.scss */
.view-schedule.helpful-hint {
  background-image: url(../images/star-hints.png);
  background-repeat: no-repeat;
  background-position: 50% 130px;
}

/* line 76, ../sass/layout.scss */
a.schedule-fave-link {
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  background: url(../images/star-blank.png) no-repeat center center;
  background-size: 24px 24px;
  overflow: hidden;
  text-indent: -999px;
}
/* line 89, ../sass/layout.scss */
a.schedule-fave-link.active {
  background: url(../images/star-filled.png) no-repeat center center;
  background-size: 24px 24px;
}
