$hour-height: 60px;

section.schedule {
	display: block;
	overflow-x: auto;

	.schedule-column {
		display: inline-block;
		vertical-align: top;
		border: 1px solid black;

		header {
			display: block;
			font-size: 2em;
			font-weight: bold;
			text-align: center;
		}

		.schedule-column-items {
			display: block;


		}
	}
}

/*
@mixin test($resource: "red"){
  $updated: unquote($resource);
  li.#{$updated} a{
      border-left: 7px solid $updated;
  }
}
*/