$hour-width: 300px;
$start-time: 9;

@mixin schedule-position ($time) {
	$floor_time: floor($time);
	$schedule_selector: item-hourstamp-#{$floor_time};
	@if (($time * 2) % 2) == 1 {
		$schedule_selector: item-hourstamp-#{$floor_time}-half;
	}
	@if (($time * 4) % 4) == 1 {
		$schedule_selector: item-hourstamp-#{$floor_time}-1q;
	}
	@if (($time * 4) % 4) == 3 {
		$schedule_selector: item-hourstamp-#{$floor_time}-3q;
	}
	.#{$schedule_selector} {
		position: absolute;
		left: ($time - $start-time) * $hour-width;
	}
}

@mixin schedule-height ($time) {
	$floor_time: floor($time);
	$schedule_selector: item-length-#{$floor_time};
	@if (($time * 2) % 2) == 1 {
		$schedule_selector: item-length-#{$floor_time}-half;
	}
	@if (($time * 4) % 4) == 1 {
		$schedule_selector: item-length-#{$floor_time}-1q;
	}
	@if (($time * 4) % 4) == 3 {
		$schedule_selector: item-length-#{$floor_time}-3q;
	}
	.#{$schedule_selector} {
		overflow: hidden;
		width: $time * $hour-width;

		.dayview a {
			width: $time * $hour-width;
		}

		border-bottom: 1px solid black;
		box-sizing: border-box;
	}
}

section.schedule {
	display: block;
	overflow-x: auto;
	min-height: 500px;
	-webkit-overflow-scrolling: touch;

	.schedule-column {
		display: block;
		border: 1px solid black;

		header {
			display: table-cell;
			font-size: 2em;
			font-weight: bold;
			text-align: center;
		}

		.schedule-column-items {
			display: table-cell;
			position: relative;
			white-space: normal;
		}
	}

	@for $i from ($start-time * 4) through (24 * 4) {
		$time: ($i / 4);
		@include schedule-position($time);
	}

	@for $i from 0 through (10 * 4) {
		$time: ($i / 4);
		@include schedule-height($time);
	}
}

.view-schedule.helpful-hint {
	background-image: url(../images/star-hints.png);
	background-repeat: no-repeat;
	background-position: 50% 130px;
}

a.schedule-fave-link {
	display: block;
	position: absolute;
	top: 4px;
	left: 4px;
	width: 24px;
	height: 24px;
	
	background: url(../images/star-blank.png) no-repeat center center;
	background-size: 24px 24px;
	overflow: hidden;
	text-indent: -999px;

	&.active {
		background: url(../images/star-filled.png) no-repeat center center;
		background-size: 24px 24px;
	}
}
